<h1>Editing Admin Question Select</h1>

<%= form_with(model: @admin_question_select, local: true) do |form| %>

  <%= render 'shared/notice'%>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.number_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :is_right %>
    <%= form.check_box :is_right %>
  </div>

  <%= render ''%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @admin_question_select %> |
<%= link_to 'Back', admin_question_selects_path %>
