<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @admin_question_select.question_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @admin_question_select.content %>
</p>

<p>
  <strong>Is right:</strong>
  <%= @admin_question_select.is_right %>
</p>

<%= link_to 'Edit', edit_admin_question_select_path(@admin_question_select) %> |
<%= link_to 'Back', admin_question_selects_path %>
