<%= form_with(model: question, local: true, url: admin_level_question_path) do |form| %>
  <%= render "shared/notice" %>

  <div class="field form-group col-md-8">
    <%= form.label :question %>
    <%= form.text_area :question, class: "form-control", rows: "10"%>
  </div>

  <div class="actions">
    <%= form.submit :submit, class: "btn btn-primary"%>
  </div>

<% end %>
