<div class='container'>
  <h1>Editing Question</h1>

  <%= form_with(model: @question, local: true,
                url: admin_level_question_path) do |form| %>

    <%= render 'shared/notice' %>

    <div class='input-group-text col-md-8 px-0'>
      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control', rows: '10'%>
    </div>

    <%= form.fields_for :question_selects, @question_selects do |field| %>
      <div class="input-group-text  col-md-8 px-0 mt-5">
          <%= field.text_area :content, class: 'form-control', rows: '3' %>
      </div>

      <%= render 'question_select', field: field, question_selects: @question_selects %>

    <% end %>


    <br />

    <div class='row'>
      <div class='col-6'></div>
      <div class='actions col-1'>
        <%= form.submit :submit, class: 'btn btn-danger'%>
      </div>
      <div class='col-1'>
        <%= link_to 'Back', admin_level_questions_path %>
      </div>
    </div>
  <% end %>

</div>
