<div>
  <h1>select</h1>

  <P><%= link_to 'Q1-10', "#" %></P>
  <P><%= link_to 'Q11-20', "#" %></P>
  <P><%= link_to 'Q21-30', "#" %></P>
  <P><%= link_to 'Q31-40', "#" %></P>
  <P><%= link_to 'Q41-50', "#" %></P>

</div>